<div class="card">
  <img [src]="advertisementCard.imageUrl" alt="image" class="card-img-top" />
  <div class="card-body">
    <div class="custom-card-title">
      <h3 class="card-title">{{ advertisementCard.title }}</h3>
      <p>
        <fa-icon [icon]="faHome"></fa-icon>
        <strong> {{ advertisementCard.type | titlecase }}</strong>
      </p>
    </div>
    <address>
      <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
      <em> {{ advertisementCard.address }}</em>
    </address>
    <h5 class="custom-price">
      <fa-icon [icon]="faEuroSign"></fa-icon>
      {{ advertisementCard.price }}
    </h5>
    <p class="card-text">
      {{ advertisementCard.description }}
    </p>
    <p class="card-title">
      Author: <strong>{{ advertisementCard.author }}</strong>
    </p>
    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-success btn-lg">Edit</button>
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-danger btn-lg"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Delete
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Warning, this action will permanently delete your advertisement
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{ advertisementCard.title }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="onDelete(advertisementCard.id)"
          data-bs-dismiss="modal"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
