<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img class="custom-logo" src="../../assets/hs.svg" alt="Logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <fa-icon [icon]="faSort" size="2x"></fa-icon>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">House/Sell</a></li>
              <li><a class="dropdown-item" href="#">Flat/Buy</a></li>
              <li>
                <a class="dropdown-item" href="#">Magazine/Rent</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <fa-icon [icon]="faUser" size="2x"></fa-icon>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="login">Login</a></li>
              <li>
                <a class="dropdown-item" routerLink="register">Register</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="create">Create</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="profile">Profile</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="#">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- search -->
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            #search
          />
          <button
            class="btn btn-outline-success"
            type="button"
            (click)="onSearch(search)"
          >
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
