<div class="container">
  <div class="row">
    <!-- card  -->
    <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <div class="custom-card-title">
            <h3 class="card-title">New cool flat</h3>
            <p>
              <fa-icon [icon]="faHome"></fa-icon>
              <strong> Flat</strong>
            </p>
          </div>
          <address>
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            <em> Ruse, Center</em>
          </address>
          <h5 class="custom-price">
            <fa-icon [icon]="faEuroSign"></fa-icon>
            24 000
          </h5>
          <div class="d-flex justify-content-between">
            <a href="" class="btn btn-outline-success btn-sm">Read More</a>
            <a href="" class="btn btn-outline-danger btn-sm">
              <fa-icon [icon]="faHeart"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- end of card -->
    <!-- card  -->
    <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <div class="custom-card-title">
            <h3 class="card-title">New cool flat</h3>
            <p>
              <fa-icon [icon]="faHome"></fa-icon>
              <strong> Flat</strong>
            </p>
          </div>
          <address>
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            <em> Ruse, Center</em>
          </address>
          <h5 class="custom-price">
            <fa-icon [icon]="faEuroSign"></fa-icon>
            24 000
          </h5>
          <div class="d-flex justify-content-between">
            <a href="" class="btn btn-outline-success btn-sm">Read More</a>
            <a href="" class="btn btn-outline-danger btn-sm">
              <fa-icon [icon]="faHeart"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- end of card -->
    <!-- card  -->
    <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <div class="custom-card-title">
            <h3 class="card-title">New cool flat</h3>
            <p>
              <fa-icon [icon]="faHome"></fa-icon>
              <strong> Flat</strong>
            </p>
          </div>
          <address>
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            <em> Ruse, Center</em>
          </address>
          <h5 class="custom-price">
            <fa-icon [icon]="faEuroSign"></fa-icon>
            24 000
          </h5>
          <div class="d-flex justify-content-between">
            <a href="" class="btn btn-outline-success btn-sm">Read More</a>
            <a href="" class="btn btn-outline-danger btn-sm">
              <fa-icon [icon]="faHeart"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- end of card -->
    <!-- card  -->
    <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <div class="custom-card-title">
            <h3 class="card-title">New cool flat</h3>
            <p>
              <fa-icon [icon]="faHome"></fa-icon>
              <strong> Flat</strong>
            </p>
          </div>
          <address>
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            <em> Ruse, Center</em>
          </address>
          <h5 class="custom-price">
            <fa-icon [icon]="faEuroSign"></fa-icon>
            24 000
          </h5>
          <div class="d-flex justify-content-between">
            <a href="" class="btn btn-outline-success btn-sm">Read More</a>
            <a href="" class="btn btn-outline-danger btn-sm">
              <fa-icon [icon]="faHeart"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- end of card -->
    <!-- card  -->
    <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <div class="custom-card-title">
            <h3 class="card-title">New cool flat</h3>
            <p>
              <fa-icon [icon]="faHome"></fa-icon>
              <strong> Flat</strong>
            </p>
          </div>
          <address>
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            <em> Ruse, Center</em>
          </address>
          <h5 class="custom-price">
            <fa-icon [icon]="faEuroSign"></fa-icon>
            24 000
          </h5>
          <div class="d-flex justify-content-between">
            <a href="" class="btn btn-outline-success btn-sm">Read More</a>
            <a href="" class="btn btn-outline-danger btn-sm">
              <fa-icon [icon]="faHeart"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- end of card -->
    <!-- card  -->
    <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <div class="custom-card-title">
            <h3 class="card-title">New cool flat</h3>
            <p>
              <fa-icon [icon]="faHome"></fa-icon>
              <strong> Flat</strong>
            </p>
          </div>
          <address>
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            <em> Ruse, Center</em>
          </address>
          <h5 class="custom-price">
            <fa-icon [icon]="faEuroSign"></fa-icon>
            24 000
          </h5>
          <div class="d-flex justify-content-between">
            <a href="" class="btn btn-outline-success btn-sm">Read More</a>
            <a href="" class="btn btn-outline-danger btn-sm">
              <fa-icon [icon]="faHeart"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- end of card -->
  </div>
</div>
